$header-color: #FDF1EB;
$header-font-color: #725C5C;
$section-text-color: #ED7839;
$btn-color:#ED7839;
$card-font-color:#5C5C5C;
$card-font-color-lighter:#999999;
$card-header-background: #FDF1EB;
$card-header-font-color: #4E4E4E;
$hidden-topic-bg:#EAF1F2;
$feedback-waiting-bg-color: #f1eeee;
$feedback-font-color: #505050;
$comments-autor-coautor-bg: #E7E7E7;